{% load staticfiles %}
{% block text %}
    <h1>Business Loan</h1>
     <link rel="stylesheet" type="text/css" href="{% static 'webapp/style4.css' %}">
    <div class="container"></div>
    Business financing is just it what it sounds like: the activity of funding the many aspects of a business, whether the funding be for starting a business, running it, or expanding it.<br>
    Regardless of the size or type of business, there are fundamental questions involving financing that must be addressed.
{% endblock text %}