{% load staticfiles %}
{% block text %}
    <h1>Home Loan</h1>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/style2.css' %}">
    A car loan (also known as an automobile loan, or auto loan) is a sum of money a consumer borrows in order to purchase a car. Generally speaking a loan is an amount of money that is lent to an individual, a business, or another entity. The party that lends the money is known as the lender, while the party borrowing the money is called the borrower. When taking out a loan a borrower agrees to pay back the full loan amount, as well as any interest (a percentage of the loan amount, usually calculated on an annual basis), by a certain date, typically by making monthly payments.
{% endblock text %}