
{% load staticfiles %}
{% block text %}
    <h1>Personal Loan</h1>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/style3.css' %}">
    <p>A personal loan is a type of unsecured loan and helps you meet your current financial needs. You don’t usually need to pledge any security or collateral while availing a personal loan and your lender provides you with the flexibility to use the funds as per your need. It can serve as your solution for managing your travel costs and wedding expenses as well as the expenses of a medical emergency, home renovation, debt consolidation and others. Bajaj Finserv offers India’s fastest personal loan with instant approval and disbursal within just 24 hours. Learn about your personal loan eligibility, use the Personal Loan EMI Calculator and apply for a personal loan in just four easy steps! Think it. Done with Bajaj Finserv.</p>
{% endblock text %}